 <div class="row">
  <div class="col-4">
    <label for="todo"><strong>Task</strong></label>
    <input id="todo" class="form-control" type="text" [(ngModel)]="currentTodo.name" />
  </div>
  <div class="col-4">
    <label for="description"><strong>Description</strong></label>
    <input id="description" class="form-control" type="text" [(ngModel)]="currentTodo.description" />
  </div>
  <div class="col-3">
    <label for="category"><strong>Category</strong></label>
    <select #category class="form-select" (change)="setCategory(category.value)">
      <option [value]="category.name" *ngFor="let category of categories">{{ category.name }}</option>
    </select>
  </div>
  <div class="col-1 align-items-end d-flex">
    <button class="btn btn-primary" (click)="addTodo()">+</button>
  </div>
 </div>
  