.done {
  text-decoration: line-through;
}

ul {
  list-style-type: none;
  font-size: 32px;
}

.todos input {
  display: inline-flex;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.todos span {
  display: inline-flex;
  cursor: pointer;
}

.todos {
  display: flex;
  align-items: center;
}

.description {
  margin-left: 10px;
  color: grey;
  font-style: oblique;
  font-size: 16px;
}