.done {
  text-decoration: line-through;
}

.todos {
  list-style-type: none;
  font-size: 32px;
}

.todos input {
  display: inline-flex;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.todos span {
  display: inline-flex;
  cursor: pointer;
}

.todos li {
  display: flex;
  align-items: center;
}